/node_modules
/test/js
/test/browsertest/js
/test/fixtures/temp-*
/test/temp
/test/ChangesAndRemovals
/benchmark/js
/benchmark/fixtures
/examples/**/dist
/examples/**/node_modules
/coverage
.DS_Store
*.log
.idea
.vscode
.cache
.eslintcache
package-lock.json
